# Need to run this from the repo root like:
# 
#     pip install -r ./dev/requirements.txt
# 

# Package build

# Proto-buf RPC build tools
grpcio-tools

# The package itself
-e .

# Ansible
# ============================================================================

ansible>=2.9.4,<3

# To connect to Windows over WinRM
pywinrm>=0.4.1,<0.5

# -e ../../nrser/splatlog
-e ../../nrser/nansi

# To package and publish the... package
setuptools
wheel
twine

# VSCode / formatting stuff
black==20.8b1 # No idea how this versioning crap works
pylint>=2.6.0,<3.0
rope>=0.18.0,<0.19
